default:
  extensions:
    Behat\Symfony2Extension\Extension:
        mink_driver: true
    Behat\MinkExtension\Extension:
        default_session: 'symfony2'
        base_url: http://localhost/shop2/web/app_test.php/
        selenium2: ~