{% extends 'ShopBundle::layout.html.twig' %}
{% block main %}
<h1>Category creation</h1>

<form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-success" type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('category') }}">
            <i class="icon-chevron-left"></i> Back to the list
        </a>
    </li>
</ul>
{% endblock main %}